<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.html %>
</head>
<body>
<div class="container">
    <header>
        <% include partials/header.html %>
    </header>
    <main>
        <div class="row">
            <div class="col-md-12">
                <h1>Dummy data to generate network traffic</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ipsum tristique, mattis sapien id, auctor purus. Aenean non ornare massa. Donec nec nisl magna. Quisque semper lorem non lorem hendrerit scelerisque non sit amet elit. Quisque tincidunt at urna eget aliquam. Pellentesque auctor nisl at dictum accumsan. Vestibulum ornare interdum ipsum, non dictum arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer posuere diam magna. Donec pellentesque erat et lorem pellentesque sodales.
                </p>
                <p>
                    Curabitur iaculis enim sapien, in faucibus nulla posuere vel. Suspendisse libero justo, fringilla sit amet massa vitae, vehicula venenatis tortor. Nulla facilisi. Praesent ullamcorper risus ut dignissim suscipit. Maecenas pharetra justo dignissim maximus tincidunt. Ut congue turpis consectetur semper ornare. Sed interdum fringilla dolor, quis bibendum lorem.
                </p>
                <p>
                    Cras rutrum bibendum dui, sed auctor tortor aliquet quis. Duis vel porttitor magna, ac porta magna. In in porttitor erat. Aliquam sed arcu gravida lorem commodo scelerisque semper bibendum augue. Curabitur dui sapien, fermentum eget mi sit amet, maximus pharetra tortor. Etiam eget rutrum est. Nam posuere eu purus eu porttitor. Donec eu auctor risus. Curabitur vel sapien ut ligula viverra posuere id eget turpis. Aenean nec dui non ipsum vulputate facilisis. Proin nulla arcu, dictum aliquet commodo vitae, commodo sit amet ipsum. Suspendisse vel pharetra massa. Quisque quis justo elit. Sed tincidunt mi id est vehicula facilisis. Quisque rhoncus vel leo sit amet condimentum. Curabitur nec dignissim nulla.
                </p>
                <p>
                    Sed suscipit varius ante, id consequat tellus ultrices eu. Quisque volutpat sed ex eu tempus. Sed auctor et nibh quis iaculis. Duis dapibus fringilla sapien. Nulla tincidunt nulla at elit feugiat, id ultrices eros maximus. Sed cursus justo sed mi lacinia, vel tristique nunc euismod. Vivamus molestie gravida semper. Vestibulum vel ullamcorper risus. Sed at quam semper, egestas ligula quis, finibus nisi. Proin libero est, iaculis non turpis et, laoreet tempor eros. Nunc tristique sed tortor vitae mollis. Pellentesque libero ante, gravida placerat dapibus vitae, finibus quis eros. Aenean aliquet consequat risus quis hendrerit. Nunc euismod neque accumsan, posuere odio non, luctus purus. Sed rutrum felis purus, id facilisis velit tristique quis.
                </p>
                <p>
                    Integer molestie et libero in malesuada. Vivamus a pellentesque lorem. Aenean eu pretium mi. Aliquam at augue eget orci semper tempor. Phasellus ex mauris, lacinia et sagittis ac, ultrices ac metus. Nunc id dui et mauris pretium vulputate. Suspendisse mollis mattis dolor, eu rhoncus lacus tempus vitae. Maecenas sit amet dolor velit. Sed tincidunt convallis quam, id egestas justo vulputate id. Donec pellentesque est consectetur metus egestas luctus. Sed rutrum ante nec faucibus elementum. Duis turpis eros, pharetra vel diam in, tempor bibendum quam. Vivamus nec pharetra sem. Donec pharetra, arcu aliquam interdum efficitur, sem orci ultrices metus, et consequat nibh mauris id felis.
                </p>
            </div>
        </div>
    </main>
</div>
<% include partials/footer.html %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.flot.min.js"></script>
<script src="/js/graph.js"></script>
</body>
</html>