<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.html %>
</head>
<body>
<div class="container">
    <header>
        <% include partials/header.html %>
    </header>
    <main>
        <div class="row">
            <div class="col-md-9 center-text col-md-offset-right-3">
                <h1>Bandwidth usage (KB/s)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="datachart"></div>
            </div>
            <div clas="col-md-3">
                <p>The graph shows real time bandwidth usage. To trigger some upload/download, please
                click on this link <a href="/data" target="_blank">DATA</a> couple of times to see
                    the graph update in real time.
                </p>
            </div>
        </div>
    </main>
</div>
<% include partials/footer.html %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.flot.min.js"></script>
<script src="/js/graph.js"></script>
</body>
</html>